@model IEnumerable<AADLab.Common.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>@ViewBag.Title</h2>

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            @*<th>Placed by</th>*@
        </tr>
    </thead>
    
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                @*<td>@order.PlacedBy</td>*@
            </tr>
        }
    </tbody>
</table>